.forecastDegrees {
    color: #FFF;
    
    font-family: 'Inter';
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .forecastDegrees {
        text-align: left;
    }
}