.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: normal;
}

:root.theme-dark {
  --bg-color: #152028;
  --card-bg: #44515a;
}

:root.theme-light {
  --bg-color: #d69e36;
  --card-bg: #eaca8f;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #d69e36;
    --card-bg: #eaca8f;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #152028;
    --card-bg: #44515a;
  }
}
