@import url("./hourlyCard/hourlyCard.css");

.hourlyContent {
  display: flex;
  flex-direction: row;
  gap: 0 15px;
  box-sizing: border-box;
  width: 100%;
  max-width: 634px;
  border-radius: 20px;
  padding: 15px;
  overflow-x: scroll;
  background: rgba(234, 202, 143, 0.7);
  cursor: grab;
  user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-touch-callout: none;
}

.hourlyContent:active {
  cursor: grabbing;
}

.hourlyContent::-webkit-scrollbar {
  display: none;
}

.hourlyContent::-webkit-scrollbar-thumb {
  display: none;
}

@media screen and (min-width: 768px) {
  .hourlyContent {
    gap: 0 30px;
  }
}

@media screen and (min-width: 1024px) {
  .hourlyContent {
    margin-bottom: 0;
    padding: 20px;
  }
}
