.error {
  position: absolute;
  bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  max-width: 300px;
  border: 1px solid transparent;
  border-color: #ef5350;
  border-radius: 10px;
  padding: 10px 36px;
  color: #fff;
  text-align: center;
  word-wrap: normal;
  background-color: #ef1c1c;
  transform: translateX(100vw);
  transition: transform 0.5s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .error {
    transition: transform 1s ease-in-out;
  }
}

.errorVisible {
  transform: translateX(0);
}

.errorText {
  font-weight: bold;
  font-size: 16px;
}

.errorClose {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 16px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .error {
    max-width: 500px;
  }

  .errorText {
    font-size: 18px;
  }
}

.bar {
  width: 500px;
  height: 20px;
  background: gray;
}

.progress {
  width: 0;
  height: 100%;
  background: green;
}
