@import url("./detailsImage/detailsImage.css");
@import url("./detailsTexts/detailsTexts.css");

.detailsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 340px;
}
