.conditionsInfo {
    margin-top: 20px;
    font-family: 'UbuntuCondensed';
    color: rgba(97, 97, 97, 1);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}