@import url("./forecastContent/forecastContent.css");

.forecasts {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  gap: 20px 20px;
}

@media screen and (min-width: 1024px) {
  .forecasts {
    flex-direction: row;
  }
}
