@import url('./plugContent/plugContent.css');
@import url('./plugSubtitle/plugSubtitle.css');

.plug {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
}